.settings {
  background: rgba(255, 255, 255, 0.788);
  width: 50%;
  min-width: 30rem;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  border-radius: 4rem;

  .header {
    margin-top: 8rem;
    font-size: 4rem;
  }
  .form {
    margin-top: 4rem;
    background: rgba(22, 22, 22, 0.192);
    text-align: center;
    padding: 1rem 0;
  }
  a {
    color: rgb(54, 54, 54);
  }

  .setting-item {
    font-size: 2rem;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a.delete-btn {
    color: rgb(7, 7, 7);
    text-decoration: none;
    background: rgb(165, 0, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.7;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.settings.dm-true {
  background: black;
  color: #888;
  h1,
  div {
    color: #888;
  }
}
