.settings {
  background: rgba(255, 255, 255, 0.788);
  width: 50%;
  min-width: 30rem;
  margin-left: 50%;
  transform: translateX(-50%);
  // margin-top: 10rem;

  .header {
    margin-top: 8rem;
    font-size: 4rem;
  }
  .form {
    margin-top: 4rem;
    background: rgba(22, 22, 22, 0.192);
    text-align: center;
    padding: 1rem 0;
  }
  a {
    color: rgb(54, 54, 54);
  }

  .setting-item {
    font-size: 2rem;
  }
  // input:checked + .slider {
  //   background-color: #000000;
  // }

  // input:focus + .slider {
  //   box-shadow: 0 0 1px #2196f3;
  // }

  // input:checked + .slider:before {
  //   -webkit-transform: translateX(26px);
  //   -ms-transform: translateX(26px);
  //   transform: translateX(26px);
  // }

  // /* Rounded sliders */
  // .slider.round {
  //   border-radius: 34px;
  // }

  // .slider.round:before {
  //   border-radius: 50%;
  // }
}

.settings.dm-true {
  background: black;
  color: #888;
  h1,
  div {
    color: #888;
  }
}
