@import 'variables';

.settings {
  width: 50%;
  margin-left: 50%;
  min-width: 30rem;
  margin-top: 5rem;
  border-radius: 4rem;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.788);

  .darkmode-switch {
    margin-left: 1rem;
  }

  .header {
    font-size: 4rem;
    margin-top: 8rem;
  }

  .form {
    padding: 1rem 0;
    margin-top: 4rem;
    text-align: center;
    background: rgba(22, 22, 22, 0.192);
  }

  a {
    color: $grey9;
  }

  .setting-item {
    font-size: 2rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a.delete-btn {
    opacity: 0.7;
    color: $grey1;
    background: $grey4;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid $grey2;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      color: $white;
      background: $red6;
      text-decoration: none;
    }
  }
}

.settings.dm-true {
  color: $grey5;
  background: $black;

  h1,
  div {
    color: $grey5;
  }
}
