@import 'variables';

.auth {
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}

h2 {
  font-size: 3rem;
}

.login {
  height: 36rem;
  transform: translateX(-50%);
}

.register {
  height: 36rem;
  transform: translateX(-50%);
}

.login,
.register {
  top: 10rem;
  width: 50%;
  display: flex;
  color: white;
  margin-left: 50%;
  min-width: 30rem;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 18px 0 18px;
  background: rgb(31, 31, 31);
  border: 1px solid rgb(156, 156, 156);

  .signup-btn,
  .signin-btn {
    border: none;
    bottom: 1.5rem;
    background: none;
    position: absolute;
    color: rgb(163, 163, 163);

    &:hover {
      text-decoration: underline;
      color: rgb(255, 255, 255);
    }
  }

  .submit-btn {
    margin: 1rem 0;
  }

  .submit-btn {
    border: none;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.8rem 4.2rem;
    transition: all 0.2s ease;
    background: rgb(233, 33, 33);

    &:hover {
      color: rgb(68, 15, 15);
      background: rgb(248, 88, 88);
      box-shadow: 0rem 0rem 2rem rgba(255, 255, 255, 0.2);
    }
  }

  input {
    width: 75%;
    height: 2.8rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(255, 0, 0, 0);
  }

  .closeauth-btn {
    right: 1rem;
    width: 4rem;
    top: 0.8rem;
    border: none;
    background: none;
    position: absolute;

    &:hover {
      .close-btn {
        color: rgb(173, 0, 0);
      }
    }
  }
  .close-btn {
    cursor: pointer;
    color: rgb(121, 0, 0);
    transition: all 0.3s ease;
  }

  input {
    margin: 0.5rem;
  }

  a {
    color: rgb(255, 137, 137);

    &:hover {
      color: rgb(255, 72, 72);
    }
  }
  .auth-pagetoggle {
    right: 0;
    bottom: 0;
    border: none;
    padding: 0.8rem;
    background: none;
    position: absolute;
    border-radius: 1rem 0 0 0;
    color: rgb(124, 124, 124);

    &:hover {
      color: rgb(233, 233, 233);
    }
  }
}

button.kep-login-facebook.metro,
.google-btn,
.google-err {
  border: none;
  opacity: 0.8;
  width: 17rem;
  padding: 1rem;
  color: black;
  margin: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.2rem;
  transform: all 0.3s ease;
  border: 1px solid grey;
  background-color: rgb(170, 170, 170);

  &:hover {
    opacity: 1;
  }
}

button.kep-login-facebook.metro {
  color: white;
  background: #4267b2;
}

.google-btn {
  color: #4285f4;
  background: white;
}
