@import 'variables';

.auth {
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}

h2 {
  font-size: 3rem;
}

.login {
  height: 36rem;
  transform: translateX(-50%);
}

.register {
  height: 36rem;
  transform: translateX(-50%);
}

.login,
.register {
  top: 10rem;
  width: 50%;
  color: $white;
  display: flex;
  margin-left: 50%;
  min-width: 30rem;
  position: absolute;
  text-align: center;
  background: $grey11;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $grey4;
  border-radius: 0 18px 0 18px;

  .signup-btn,
  .signin-btn {
    border: none;
    color: $grey4;
    bottom: 1.5rem;
    background: none;
    position: absolute;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  .submit-btn {
    margin: 1rem 0;
  }

  .submit-btn {
    color: $white;
    font-size: 1.8rem;
    background: $red3;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.8rem 4.2rem;
    border: 1px solid $red3;
    transition: all 0.2s ease;

    &:hover {
      color: $red3;
      background: $grey11;
    }
  }

  input {
    width: 75%;
    height: 2.8rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(255, 0, 0, 0);
  }

  .closeauth-btn {
    right: 1rem;
    width: 4rem;
    top: 0.8rem;
    border: none;
    background: none;
    position: absolute;

    &:hover {
      .close-btn {
        color: $pink2;
      }
    }
  }
  .close-btn {
    color: $red8;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  input {
    margin: 0.5rem;
  }

  a {
    color: $pink1;

    &:hover {
      color: $red1;
    }
  }
  .auth-pagetoggle {
    right: 0;
    bottom: 0;
    border: none;
    color: $grey6;
    padding: 0.8rem;
    background: none;
    position: absolute;
    border-radius: 1rem 0 0 0;

    &:hover {
      color: $grey5;
    }
  }
}

button.kep-login-facebook.metro,
.google-btn,
.google-err {
  border: none;
  opacity: 0.8;
  width: 17rem;
  padding: 1rem;
  color: $black;
  margin: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.2rem;
  border: 1px solid $grey5;
  background-color: $grey3;
  transform: all 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

button.kep-login-facebook.metro {
  color: $white;
  background: $fbblue;
}

.google-btn {
  color: $googleblue;
  background: $white;
}
