$small: 576px;
$medium: 768px;
$large: 992px;

.auth {
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}
h2 {
  font-size: 3rem;
}

.login {
  height: 36rem;
  transform: translateX(-50%);
}
.register {
  height: 36rem;
  transform: translateX(-50%);
}

.login,
.register {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 30rem;
  top: 10rem;
  margin-left: 50%;
  text-align: center;

  color: white;
  background: rgb(31, 31, 31);
  border: 1px solid rgb(156, 156, 156);
  border-radius: 0 18px 0 18px;

  .signup-btn,
  .signin-btn {
    color: rgb(163, 163, 163);

    border: none;
    background: none;
    position: absolute;
    bottom: 1.5rem;
    &:hover {
      text-decoration: underline;
      color: rgb(255, 255, 255);
    }
  }

  .signup-btn {
  }
  .signin-btn {
  }
  .submit-btn {
    margin: 1rem 0;
  }

  .submit-btn {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    background: rgb(233, 33, 33);
    color: white;
    font-weight: bold;
    border: rgb(248, 88, 88) 1px solid;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(248, 88, 88);
      border-color: rgb(233, 33, 33);
    }
  }

  input {
    height: 2.8rem;
    width: 75%;
    border-radius: 0.2rem;
    border: 1px solid rgba(255, 0, 0, 0);
    padding-left: 0.5rem;
  }
  .closeauth-btn {
    width: 4rem;

    position: absolute;
    top: 0.8rem;
    right: 1rem;
    border: none;
    background: none;
    &:hover {
      .close-btn {
        color: rgb(173, 0, 0);
      }
    }
  }
  .close-btn {
    color: rgb(121, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .error-msg {
    position: absolute;
    bottom: 0.2rem;
    color: rgb(255, 53, 53);
  }
  input {
    margin: 0.5rem;
  }
  a {
    color: rgb(255, 137, 137);
    &:hover {
      color: rgb(255, 72, 72);
    }
  }
  .auth-pagetoggle {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem 0 0 0;
    background: none;
    color: rgb(124, 124, 124);
    &:hover {
      color: rgb(233, 233, 233);
    }
  }
}

/*facebook button */
button.kep-login-facebook.metro,
.google-btn {
  background-color: rgb(170, 170, 170);
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid grey;
  width: 17rem;
  font-weight: bold;
  margin: 0.2rem;
  border-radius: 0.2rem;
  transform: all 0.3s ease;
  color: black;
  &:hover {
    background: gray;
  }
}
