.signin-signup {
  color: white;
  position: absolute;
  right: 1rem;
  top: 7rem;

  button {
    background: none;
    border: none;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
