$small: 576px;
$medium: 768px;
$large: 992px;

.privacy-policy {
  background: #000;
  color: lightgrey;
  padding: 4rem;
  h2 {
    font-size: 9rem;
    line-height: 12rem;
  }
  h3 {
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 5rem;
  }
  p {
    padding: 1rem;
  }
  ul li {
    list-style: inside;
    margin-left: 1rem;
  }
  ol li {
    margin-left: 1rem;
    font-size: 1.8rem;
  }

  table td {
    padding: 2px;
    text-align: center;
    border: 1px solid lightgrey;
  }
  table td:nth-child(1) {
    text-align: left;
  }
}
