@import 'variables';

.privacy-policy {
  padding: 4rem;
  color: lightgrey;
  background: #000;

  h2 {
    font-size: 9rem;
    line-height: 8rem;
    text-align: center;

    @media screen and (max-width: $medium) {
      font-size: 6rem;
      line-height: 5rem;
    }
  }

  h4 {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
    margin-top: 5rem;
    line-height: 4rem;
  }

  p {
    padding: 1rem;
  }

  ul li {
    margin-left: 1rem;
    list-style: inside;
  }

  ol li {
    margin-left: 1rem;
    font-size: 1.8rem;
  }

  table td {
    padding: 2px;
    text-align: center;
    border: 1px solid lightgrey;
  }

  table td:nth-child(1) {
    text-align: left;
  }
}
