$small: 576px;
$medium: 850px;
$large: 992px;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$grey1: rgb(240, 240, 240);
$grey2: rgb(205, 205, 205);
$grey3: rgb(189, 189, 189);
$grey4: rgb(153, 153, 153);
$grey5: rgb(136, 136, 136);
$grey6: rgb(103, 103, 103);
$grey8: rgb(69, 69, 69);
$grey9: rgb(58, 58, 58);
$grey10: rgb(44 44 44);
$grey11: rgb(26, 26, 26);
$grey12: rgb(10, 10, 10);

$red1: rgb(255, 21, 21);
$red2: rgb(248, 88, 88);
$red3: rgb(233, 33, 33);
$red4: rgb(190, 11, 11);
// $red5: rgb(173, 0, 0);
$red6: rgb(165, 0, 0);
$red7: rgb(140, 0, 0);
$red8: rgb(121, 0, 0);
$red9: rgb(68, 15, 15);

$pink1: rgb(255, 137, 137);
$pink2: rgb(170, 71, 71);

$blue1: rgb(181, 246, 255);
$blue2: rgb(131, 196, 204);
$blue3: rgb(48, 171, 241);
$blue4: rgb(4, 37, 28);
$blue5: rgb(155, 223, 206);

$fbblue: rgb(66, 103, 178);
$googleblue: rgb(66, 133, 244);

// transparence
// rgba(0, 0, 0, 0.3)
// rgba(0, 0, 0, 0.57)
// rgba(0, 0, 0, 0.747)

// rgba(255, 255, 255, 0.425);
// rgba(255, 255, 255, 0.39)
// rgba(211, 211, 211, 0.814)
