$small: 576px;
$medium: 850px;
$large: 992px;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$grey1: rgb(204, 204, 204);
$grey2: rgb(58, 58, 58);

$red1: rgb(248, 88, 88);
$red2: rgb(233, 33, 33);

$red3: rgb(68, 15, 15);
