*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  background-size: cover;
  background: rgb(58, 58, 58);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

button {
  cursor: pointer;
}

select:focus,
button:focus,
input:focus {
  outline: 0;
}

.coachportal-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: 0 1rem 0 0;
  background: black;
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.273), rgba(0, 0, 0, 0.433));
}

.App {
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.background {
  background: url('./imgs/sweat.jpg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

/* SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #000000;
    }
    &:checked + .slider {
      background-color: #000000;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
