*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  background-size: cover;
  background: rgb(58, 58, 58);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

button {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

.coachportal-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-radius: 1rem 0 0 0;
  background: black;
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.273), rgba(0, 0, 0, 0.433));
}

.App {
  min-width: 100vw;
}

.background {
  background: url('./imgs/sweat.jpg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
