.trainer-settings {
  background: rgba(255, 255, 255, 0.788);
  width: 50%;
  min-width: 30rem;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  border-radius: 4rem;

  .header {
    padding: 1rem 0;
  }

  .setting-item {
    font-size: 2rem;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a.delete-btn {
    color: rgb(7, 7, 7);
    text-decoration: none;
    background: rgb(165, 0, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.7;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  .tag-editor {
    background: rgba(148, 148, 148, 0.664);
    padding-top: 3rem;
    input {
      padding: 0.5rem;
      border-radius: 1rem;
    }
    .add-btn {
      padding: 0.5rem;
      margin-left: 0.5rem;
      border-radius: 0.8rem;
    }
    .err {
      height: 3.5rem;
    }

    .tag {
      margin-left: 50%;
      transform: translateX(-50%);
      border-radius: 3rem;
      background: linear-gradient(
        to bottom right,
        rgb(228, 218, 218),
        rgb(107, 100, 100)
      );
      width: 10%;
      min-width: 20rem;
      display: flex;
      justify-content: space-between;
      padding-left: 0.5rem;
      overflow: hidden;
      margin-bottom: 0.5rem;
      button {
        border: none;
        padding: 0 0.7rem;
        &:hover {
          color: rgb(214, 30, 30);
        }
      }
    }
    .tag:active {
      color: grey;
    }
  }
  .form {
    text-align: center;
    background: rgba(22, 22, 22, 0.192);
    padding: 1rem 0;
  }
  .setting-item {
    font-size: 2rem;
  }
  a {
    color: rgb(54, 54, 54);
  }

  .rate-editor {
    padding-top: 1rem;
    input {
      width: 15rem;
    }
    input,
    button {
      font-size: 1.4rem;
      padding: 0.3rem 0.5rem;
      margin: 0 0.2rem;
      border-radius: 0.8rem;
    }
  }

  .dark-mode {
    height: 4.5rem;
    span {
      margin-right: 0.2rem;
    }
  }
}
