.trainer-settings {
  background: rgba(255, 255, 255, 0.788);

  .tag-editor {
    background: rgba(148, 148, 148, 0.664);
    padding: 1rem;
    margin-top: 1rem;
    input {
      padding: 0.5rem;
      border-radius: 1rem;
    }
    .add-btn {
      padding: 0.5rem;
      margin-left: 0.5rem;
      border-radius: 0.8rem;
    }
    .err {
      height: 3.5rem;
    }

    .tag {
      margin-left: 50%;
      transform: translateX(-50%);
      border-radius: 3rem;
      background: linear-gradient(
        to bottom right,
        rgb(228, 218, 218),
        rgb(107, 100, 100)
      );
      width: 10%;
      min-width: 15rem;
      display: flex;
      justify-content: space-between;
      padding-left: 0.5rem;
      overflow: hidden;
      margin-bottom: 0.5rem;
      button {
        border: none;
        padding: 0 0.7rem;
        &:hover {
          color: rgb(214, 30, 30);
        }
      }
    }
  }
  .form {
    text-align: center;
    background: rgba(22, 22, 22, 0.192);
    margin-top: 4rem;
    padding: 1rem 0;
  }
  .setting-item {
    font-size: 2rem;
  }
  a {
    color: rgb(54, 54, 54);
  }
}
// .settings {
//   .background {
//     // background: url('../../imgs/mountain.jpg');
//     width: 100vw;
//     height: 100vh;
//     background-position: center;
//     position: fixed;
//     top: 0;
//     right: 0;
//     z-index: -1;
//   }
//   .header {
//     color: white;
//     margin-top: 8rem;
//     font-size: 4rem;
//   }
//   .form {
//     margin-top: 4rem;
//     width: 50rem;
//     background: rgba(22, 22, 22, 0.192);
//     height: 10rem;
//   }

//   /* SWITCH */
//   .switch {
//     position: relative;
//     display: inline-block;
//     width: 60px;
//     height: 34px;
//   }

//   /* Hide default HTML checkbox */
//   .switch input {
//     opacity: 0;
//     width: 0;
//     height: 0;
//   }

//   /* The slider */
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ccc;
//     -webkit-transition: 0.4s;
//     transition: 0.4s;
//   }

//   .slider:before {
//     position: absolute;
//     content: '';
//     height: 26px;
//     width: 26px;
//     left: 4px;
//     bottom: 4px;
//     background-color: white;
//     -webkit-transition: 0.4s;
//     transition: 0.4s;
//   }

//   input:checked + .slider {
//     background-color: #000000;
//   }

//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196f3;
//   }

//   input:checked + .slider:before {
//     -webkit-transform: translateX(26px);
//     -ms-transform: translateX(26px);
//     transform: translateX(26px);
//   }

//   /* Rounded sliders */
//   .slider.round {
//     border-radius: 34px;
//   }

//   .slider.round:before {
//     border-radius: 50%;
//   }
// }

// .settings.dm-true {
//   background: black;
//   color: #888;
// }
