@import 'variables';

.terms-of-service {
  padding: 4rem;
  background: #000;
  color: lightgrey;

  h2 {
    font-size: 9rem;
    line-height: 8rem;
    text-align: center;

    @media screen and (max-width: $medium) {
      font-size: 6rem;
      line-height: 5rem;
    }
  }

  h3 {
    font-size: 3rem;
    margin-top: 5rem;
    line-height: 4rem;
  }

  p {
    padding: 1rem;
  }

  li {
    list-style: none;
    margin-left: 1rem;
  }
}
