.messages {
  // margin-top: 8rem;
  max-height: 100vh;
  overflow-y: scroll;
  .profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 20rem;
  }
  .thread-section {
    background: rgba(255, 255, 255, 0.548);
    margin-top: 5rem;
    min-width: 30rem;
    max-width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
  }
  .threadlistitem {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 2rem;
    border: 1px solid white;
    cursor: pointer;
    span {
      margin-left: 1rem;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.76);
    }
  }
  .thread {
    // border: 1px solid white;
    max-height: 70vh;
    position: relative;
    overflow: scroll;
    border-radius: 2rem;
  }
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)),
      url('../../imgs/sweat.jpg');

    width: 100vw;
    height: 100vh;
    background-position: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .header {
    color: white;
    padding: 10rem;
    font-size: 4rem;
    position: absolute;
  }
  .chat-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
