@import 'variables';

.messages {
  max-height: 100vh;
  min-height: 40rem;
  overflow-y: scroll;

  .profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 20rem;
  }

  .thread-list {
    width: 30%;
  }

  .current-thread {
    width: 70%;
    overflow: scroll;
    min-height: 35rem;
  }

  .thread-section {
    height: 35rem;
    display: flex;
    max-width: 70%;
    margin-top: 5rem;
    overflow: hidden;
    min-width: 30rem;
    margin-left: 50%;
    min-height: 35rem;
    border-radius: 2rem;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.548);
  }

  .threadlistitem {
    display: flex;
    cursor: pointer;
    padding: 0.4rem;
    align-items: center;
    border-radius: 2rem;
    justify-content: left;
    background: linear-gradient(rgba(255, 255, 255, 0.63), rgba(194, 194, 194, 0.384));

    span {
      margin-left: 1rem;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.76);
    }

    .name {
      @media screen and (max-width: $large) {
        display: inherit;
        font-size: 0.8rem;
      }

      @media screen and (max-width: $medium) {
        display: none;
      }
    }
  }

  .current-item {
    color: $white;
    background: linear-gradient(to bottom right, rgba(218, 59, 59, 0.63), rgba(10, 10, 10, 0.705));

    &:hover {
      opacity: 0.8;
      background: linear-gradient(to bottom right, rgba(189, 0, 0, 0.63), rgba(10, 10, 10, 0.705));
    }
  }

  .header {
    color: $white;
    padding: 10rem;
    font-size: 4rem;
    position: absolute;
  }

  .chat-box {
    left: 50%;
    width: 50%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    min-width: 22rem;
    position: absolute;
    align-items: center;
    border-radius: 1.5rem;
    transform: translateX(-50%);
    justify-content: space-around;
    background-color: rgba(201, 201, 201, 0.884);

    Input,
    Button {
      padding: 0.5rem;
      border-radius: 1rem;
    }

    Button {
      width: 18%;
      min-width: 4.3rem;
    }

    Input {
      width: 78%;
    }
  }

  .no-msg {
    width: 100%;
    font-size: 2rem;
    margin-left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  .close-btn {
    top: 0;
    right: 0;
    position: absolute;
  }

  .message {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    min-height: 3.8rem;

    .name,
    .content {
      margin-top: 0.4rem;
      margin-left: 0.7rem;
    }
  }

  .sandwiched-true {
    border-radius: 1rem 0 0 1rem;
  }

  .beginning-true {
    border-radius: 1rem 0 0 0;
  }

  .ending-true {
    border-radius: 0 0 0 1rem;
  }

  .ownmsg-true {
    color: $grey2;
    text-align: end;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(29, 29, 29, 0.788);

    .content {
      margin-right: 1rem;
      padding-right: 1rem;
    }
  }
}
