@import "variables";

.messages {
  max-height: 100vh;
  overflow-y: scroll;
  min-height: 40rem;
  .profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 20rem;
  }
  .thread-list {
    width: 30%;
  }
  .current-thread {
    width: 70%;
    overflow: scroll;
    min-height: 35rem;
  }
  .thread-section {
    background: rgba(255, 255, 255, 0.548);
    margin-top: 5rem;
    min-width: 30rem;
    max-width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    display: flex;
    height: 35rem;
    min-height: 35rem;
    overflow: hidden;
  }
  .threadlistitem {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 2rem;
    padding: 0.4rem;
    background: linear-gradient(
      rgba(255, 255, 255, 0.63),
      rgba(194, 194, 194, 0.384)
    );
    cursor: pointer;
    span {
      margin-left: 1rem;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.76);
    }

    .name {
      @media screen and (max-width: $large) {
        display: inherit;
        font-size: 0.8rem;
      }
      @media screen and (max-width: $medium) {
        display: none;
      }
    }
  }
  .current-item {
    background: linear-gradient(
      to bottom right,
      rgba(218, 59, 59, 0.63),
      rgba(10, 10, 10, 0.705)
    );
    color: rgb(250, 250, 250);
    &:hover {
      opacity: 0.8;
      background: linear-gradient(
        to bottom right,
        rgba(189, 0, 0, 0.63),
        rgba(10, 10, 10, 0.705)
      );
    }
  }

  .header {
    color: white;
    padding: 10rem;
    font-size: 4rem;
    position: absolute;
  }

  .chat-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(201, 201, 201, 0.884);
    display: flex;
    min-width: 22rem;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    border-radius: 1.5rem;
    Input,
    Button {
      padding: 0.5rem;
      border-radius: 1rem;
    }
    Button {
      width: 18%;
      min-width: 4.3rem;
    }
    Input {
      width: 78%;
    }
  }
  .no-msg {
    width: 100%;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .message {
    width: 100%;
    min-height: 3.8rem;
    font-size: 1.3rem;
    display: flex;
    padding: 0.5rem 0;

    .name,
    .content {
      margin-top: 0.4rem;
      margin-left: 0.7rem;
    }
  }
  .sandwiched-true {
    border-radius: 1rem 0 0 1rem;
  }
  .beginning-true {
    border-radius: 1rem 0 0 0;
  }
  .ending-true {
    border-radius: 0 0 0 1rem;
  }
  .ownmsg-true {
    text-align: end;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.788);
    color: rgb(212, 212, 212);

    .content {
      margin-right: 1rem;
      padding-right: 1rem;
    }
  }
}
