.trainer-schedule {
  transform: translateX(-50%);
  margin-left: 50%;
  width: 80rem;
  .labels {
    display: flex;
    .label {
      background: rgb(22, 22, 22);
      color: rgb(238, 238, 238);
      width: 11.5rem;
      text-align: center;
      padding: 0.3rem;
      margin: 0.1rem;
      font-size: 1.2rem;
    }
  }

  .week {
    display: flex;
    justify-content: space-between;
    // position: relative;
    height: 45rem;
    overflow: scroll;

    .overlay-block {
      text-align: center;
      background: rgb(116, 116, 255);
      width: 100%;
      //   border: 1px solid rgb(255, 0, 0);
      position: absolute;
      top: 0;
      z-index: 100;
      display: flex;
      flex-direction: column;

      .drag {
        background: orange;
        height: 7px;
      }
      .middle {
        height: 100%;
        font-size: 0.8rem;
      }
      .drag.bottom {
        // position: absolute;
        bottom: 0;
      }
    }
    .block {
      background: red !important;
    }
    .chunk-container {
      position: relative;
      height: 5rem;
    }
    .chunk {
      position: relative;
      background: white;
      border: 1px solid black;
      //   padding: 1.5rem 3.2rem;
      width: 11.2rem;
      height: 5rem;
      //   position: relative;

      border-radius: 0.2rem;
      cursor: pointer;
      transition: all 0.25s ease;
      z-index: -1;
      &:hover {
        z-index: 5;
        background: rgb(12, 170, 170);
        color: white;
      }
    }
  }
}
