@import 'variables';

.landing-page {
  top: 0;
  width: 100vw;
  display: flex;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  position: absolute;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.57)),
    url('../../imgs/weights.jpg');

  .landing-title {
    opacity: 0.5;
    color: $white;
    padding: 0 2rem;
    font-size: 9rem;
    margin-top: 12rem;
    text-align: center;
    line-height: 12rem;
    line-height: 10rem;

    @media screen and (max-width: $medium) {
      font-size: 7rem;
    }

    @media screen and (max-width: $small) {
      font-size: 5rem;
      line-height: 9rem;
    }
  }

  .trainers-link {
    color: white;
    margin-top: 2rem;
    background: $red3;
    font-weight: bold;
    font-size: 3.4rem;
    padding: 2rem 3rem;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      color: $red8;
      background: $red2;
      box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.3);
    }
  }
}

.coachportal-btn {
  left: 0;
  bottom: 0;
  opacity: 0.5;
  padding: 1rem;
  color: $white;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  background-color: $red2;
  transition: all 0.2s ease;
  border-radius: 0 1rem 0 0;

  &:hover {
    opacity: 1;
    color: $red8;
    background: $red1;
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.3);
  }
}
