@import 'variables';

.clientprofile {
  .email,
  .bio {
    height: 2.5rem;
    overflow: scroll;
    font-size: 1.5rem;
  }

  .bio {
    margin-bottom: 1rem;
  }

  .name {
    margin-top: 1rem;
    font-size: 4.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    letter-spacing: 0.4rem;
  }

  .cover-pic {
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    position: absolute;
    background-size: cover;
    background-position: top;
  }

  .info {
    height: 49rem;
    padding: 4rem 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.39);
  }

  .profile-pic {
    width: 25rem;
    height: 25rem;
    display: block;
    margin-left: 50%;
    background: $grey1;
    border-radius: 20rem;
    transform: translateX(-50%);
    border: 12px solid $grey1;
  }

  .edit-link {
    color: $grey1;
    padding: 0.4rem;
    font-size: 1.8rem;
    background: $grey11;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;

    &:hover {
      background: $grey9;
    }
  }
}
