.clientprofile {
  .cover-pic {
    width: 100vw;
    height: 100%;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 2rem;
    overflow: scroll;
  }
  .email,
  .bio {
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .name {
    height: 3.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
  }
  .info {
    margin-top: 10rem;
    background: rgba(255, 255, 255, 0.39);
    text-align: center;
    padding: 2rem 0;
    height: 40rem;
  }
  .profile-pic {
    width: 25rem;
    height: 25rem;
    border-radius: 20rem;
    border: 12px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .link {
    text-decoration: none;
    background: rgba(230, 230, 230, 0.767);
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: rgb(18, 65, 221);
    &:hover {
      color: rgb(204, 204, 204);
      background: rgb(18, 65, 221);
    }
  }
  // .section-1 {
  //   div {
  //     height: 2rem;
  //   }
  // }
}
