.session-review {
  margin-top: 6rem;
  width: 40rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem 2rem 4rem;
  color: white;
  background: rgb(31, 31, 31);
  border: 1px solid rgb(156, 156, 156);
  border-radius: 0 18px 0 18px;
  select {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
  }
  textarea {
    padding: 1rem;
    max-width: 100%;
    min-width: 100%;
    min-height: 15rem;
    max-height: 25rem;
  }
  button {
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
    width: 50%;
    border: none;
    border-radius: 0.4rem;
  }
  .confirm-btns {
    display: flex;
    button {
      margin: 1rem 1rem 0 1rem;
      width: 8rem;
    }
  }
}
