@import 'variables';

.home {
  margin-top: 5rem;
  margin-left: 50%;
  text-align: center;
  transform: translateX(-50%);

  h2 {
    font-size: 2rem;
    padding: 0.8rem 0;
    background: $grey1;
    border-radius: 0.4rem;
    letter-spacing: 0.5rem;
  }

  .sessions {
    margin: 1rem;
    padding: 1.2rem;
    background: $grey1;
    border-radius: 1rem;

    .profile-pic {
      width: 3rem;
      height: 3rem;
      border-radius: 25rem;
      border: 2px solid $grey1;
    }

    .session {
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 1.4rem;

      a {
        color: $grey12;
        font-size: 1.8rem;
        transition: 0.3s ease all;

        &:hover {
          color: $red6;
        }
      }
    }
  }

  .ended {
    background: rgba(218, 186, 186, 0.705);
  }

  .session.active {
    color: $pink1;
    background: $grey12;
    border: solid 1px $red4;

    a {
      color: $red2;
      transition: 0.3s ease all;

      &:hover {
        color: $pink1;
      }
    }
  }

  .not-started {
    background: $blue2;
  }
}
