.home {
  margin-top: 5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  h2 {
    background: rgb(233, 233, 233);
    font-size: 2rem;
    border-radius: 0.4rem;
    padding: 0.8rem 0;
    letter-spacing: 0.5rem;
  }

  .sessions {
    background: rgb(233, 233, 233);
    padding: 1.2rem;
    margin: 1rem;
    border-radius: 1rem;

    .profile-pic {
      width: 3rem;
      height: 3rem;
      border-radius: 25rem;
      border: 2px solid #f0f0f0;
    }
    .session {
      border-radius: 1.4rem;
      padding: 1rem;
    }
  }
  .ended {
    background: rgba(186, 194, 218, 0.705);
  }
  .active {
    background: rgb(15, 15, 15);
    color: rgb(30, 248, 194);
    border: solid 1px rgb(30, 248, 194);
  }
  .not-started {
    background: rgb(155, 223, 206);
  }
}
