$small: 576px;
$medium: 768px;
$large: 992px;

.trainer-landingpage {
  margin-top: 2rem;
  position: relative;
  height: 80vh;
  min-height: 50rem;

  .trainer-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.393), rgba(0, 0, 0, 0.3));
  }
  .landing-background {
    background: linear-gradient(rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.225)),
      url('../../../imgs/yogacoach.jpg');
    width: 80vw;
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    min-height: 50rem;
    filter: blur(2px);
  }
  .image2 {
    object-fit: contain;
    width: 80vw;
    height: 80vh;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    min-height: 50rem;
  }
  .heading {
    text-align: center;
    font-size: 4rem;
    line-height: 5.5rem;
    letter-spacing: 0.2rem;
    width: 80%;
    color: rgba(255, 255, 255, 0.9);
    left: 50%;
    transform: scaleY(1.15) translateX(-50%);
    position: absolute;
    bottom: 1rem;
  }
  button {
    transform: translateX(-50%);
    margin-left: 50%;
    padding: 1.4rem 2rem;
    display: block;
    margin-bottom: 5rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 2rem;
    transition: all 0.1s ease;
    letter-spacing: 0.2rem;
    margin-top: 0.4rem;
    background: rgb(233, 33, 33);
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
    &:hover {
      background: rgb(248, 88, 88);
      color: rgb(68, 15, 15);
      box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.3);
    }
  }
}
