.intro-message {
  background: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  padding: 0 4rem 4rem 4rem;
  button {
    margin-top: 1.5rem;
  }
}
