.searchbar {
  transform: translateX(-50%);
  margin-left: 50%;
  font-size: 2.4rem;
  padding: 1rem 0.8rem;
  margin-top: 2rem;
  border-radius: 1.8rem;
  border: 2px solid rgb(83, 83, 83);
  letter-spacing: 0.1rem;
}
