@import 'variables';

.searchbar {
  width: 100%;
  display: flex;
  margin-left: 50%;
  margin-bottom: 2rem;
  justify-content: center;
  transform: translateX(-50%);

  .searchbar-input {
    z-index: 1;
    width: 25rem;
    margin-top: 2rem;
    font-size: 2.4rem;
    margin-right: 0.5rem;
    border-radius: 1.8rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0.8rem;
    border: 2px solid $grey8;
  }

  .querytype-selector {
    z-index: 1;
    margin-top: 2rem;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
    border-radius: 1.4rem;
  }
}
