@import 'variables';

.paypal-background {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.603);
}

.paypal-container {
  left: 50%;
  z-index: 3;
  top: 20rem;
  position: fixed;
  background: $grey1;
  border-radius: 1rem;
  transform: translateX(-50%);

  .paypal {
    width: 35rem;
    height: 30rem;
    display: block;
    position: relative;
    padding: 4rem 2rem;
  }

  .test {
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .close-btn {
    top: 0.3rem;
    color: $red8;
    right: 0.8rem;
    cursor: pointer;
    position: absolute;

    &:hover {
      color: $red6;
    }
  }
}
