@import 'variables';

.edit-profile {
  width: 80%;
  display: flex;
  margin: 5rem 0;
  margin-left: 50%;
  align-items: center;
  border-radius: 4rem;
  padding-bottom: 2rem;
  flex-direction: column;
  transform: translateX(-50%);
  background: rgba(51, 51, 51, 0.932);

  h2 {
    margin: 2rem 0 1rem 0;
  }

  .edit-pic {
    width: 30rem;
    margin: 1rem;
    height: 30rem;
    background: $black;
    object-fit: contain;
  }

  h2 {
    color: $white;
  }

  input[type='text'],
  input[type='displayEmail'] {
    width: 30rem;
    border: none;
    padding: 0.4rem;
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  .link {
    color: $grey1;
    padding: 0.4rem;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.466);
    }
  }

  .image-uploaders {
    display: flex;

    @media screen and (max-width: $medium) {
      display: block;
    }

    .uploader {
      margin: 4rem 0;
    }
  }

  .submit-btn {
    border: none;
    width: 20rem;
    color: $grey1;
    height: 3.4rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    background: $red4;
    border-radius: 0.5rem;
    padding: 0.7rem 1.4rem;
    transition: all 0.2s ease;

    &:hover {
      color: $white;
      background: $red6;
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.466);
    }
  }
}
