@import 'variables';

.delete-page {
  width: 80%;
  display: flex;
  min-width: 30rem;
  max-width: 60rem;
  margin-left: 50%;
  margin-top: 5rem;
  min-height: 20rem;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.788);

  .flexcol {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .delete-page div {
    display: flex;
  }

  .btns {
    display: flex;
  }

  button {
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }

  .delete-btn {
    color: $red1;
    background: $grey11;
    border: 1px solid $grey11;

    &:hover {
      color: $grey12;
      background: $red1;
      border-color: $red1;
      box-shadow: 0rem 0rem 1.4rem rgba(0, 0, 0, 0.9);
    }
  }

  .cancel-btn {
    color: $grey9;
    background: $grey3;
    border: 1px solid $black;

    &:hover {
      color: $grey11;
      background: $grey1;
    }
  }

  .close-btn {
    top: 0.8rem;
    right: 1.2rem;
    background: none;
    position: absolute;

    i {
      color: $red6;
      transition: all 0.2s ease;
    }

    &:hover {
      i {
        color: $red8;
      }
    }
  }

  h3,
  input {
    height: 3rem;
  }

  input {
    padding-left: 0.5rem;
  }
}
