.trainers {
  width: 100vw;
  overflow: hidden;
  .tags {
    .tag {
      color: rgb(121, 0, 0);
      &:hover {
        color: rgb(173, 0, 0);
      }
    }
  }

  .suggestion-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    .suggestion-tag {
      width: 10rem;
      margin: 0 0.3rem;
      background: linear-gradient(
        -45deg,
        rgb(247, 247, 247),
        rgb(194, 194, 194)
      );
      color: #222;
      text-align: center;
      transition: all 0.2s ease;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0.2rem;
      border: 1px solid rgba(211, 211, 211, 0);
      &:hover {
        filter: invert(95%);
        border: 1px solid rgb(0, 0, 0);
      }
    }
    .current {
      filter: invert(75%);
      border: 1px solid rgb(0, 0, 0);
    }
  }

  .trainers-container {
    margin-top: 3rem;
    position: absolute;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 30rem;
  }

  .trainer-card {
    height: 20rem;
    position: relative;
    margin: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;

    .left-section {
      min-width: 20rem;
    }
    .right-section {
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
    }
    .name {
      letter-spacing: 0.3rem;
      color: black;
      font-weight: bold;
      position: absolute;
      width: 20rem;
      text-align: center;
      top: 2rem;
      left: 0;
      color: white;
      font-size: 1.3rem;
      margin-left: 0.3rem;
    }

    .profile-container {
      position: relative;
    }

    .profilepic {
      position: absolute;
      width: 8rem;
      height: 8rem;
      border-radius: 40rem;
      border: 4px solid #f0f0f0;
      margin-left: 50%;
      margin-top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: #f0f0f0;
    }
    .coverpic {
      position: absolute;
      width: 20rem;
      height: 20rem;
      border-radius: 0.8rem;

      left: 0;
      top: 0;
    }
    .shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 20rem;
      height: 20rem;
      border-radius: 0.8rem;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  .bio {
    color: black;
  }
}
