.trainers {
  .background {
    background: url('../../imgs/sweat.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .header {
    color: white;
    padding: 10rem;
    font-size: 4rem;
    position: absolute;
  }
  .trainers-container {
    position: absolute;
  }
  .trainer {
    width: 20rem;
    height: 20rem;
    margin: 4rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.575);
    transition: all 0.3s ease;
    border-radius: 1rem;
    .name {
      letter-spacing: 0.3rem;
      color: black;
      font-weight: bold;
    }
    &:hover {
      transform: scale(1.1);
      background: rgba(255, 255, 255, 0.975);
    }
  }
  .profilepic,
  .coverpic {
    width: 8rem;
    height: 8rem;
    border-radius: 0.8rem;
    margin: 0.3rem;
  }
}
