.login,
.register {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-left: 50%;
  text-align: center;
  margin-top: 15rem;
  color: white;
  background: rgb(31, 31, 31);
  // padding: 2rem;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 1px 12px 1px 12px;
  height: 18rem;

  .signup-btn,
  .signin-btn {
    color: white !important;
    border: none;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
  input {
    width: 80%;
    margin-bottom: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(255, 0, 0, 0);
  }
  .closeauth-btn {
    width: 5rem;
    position: absolute;
    top: 0.6rem;
    right: 0.5rem;
    border-radius: 10px;
    padding: 0.1rem;
    border: none;
  }
  .error-msg {
    position: absolute;
    bottom: 0.2rem;
    color: rgb(255, 53, 53);
  }
}
