$small: 576px;
$medium: 850px;
$large: 992px;

.trainerprofile {
  .name,
  .email,
  .bio {
    height: 2.5rem;
  }
  .cover-pic {
    width: 100vw;
    height: 100%;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 2rem;
    overflow: scroll;
  }
  .info {
    margin-top: 10rem;
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.39);
    text-align: center;
  }
  .profile-pic {
    width: 25rem;
    height: 25rem;
    border-radius: 20rem;
    border: 12px solid rgb(240, 240, 240);
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    background: rgb(240, 240, 240);
  }

  .btns {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 20rem;
  }
  .msg-btn,
  .book-btn,
  .weekshift-btn {
    background-color: rgba(255, 255, 255, 0.596);
    border: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    width: 8rem;
    height: 8rem;
    &:hover {
      background-color: rgba(255, 255, 255, 0.849);
    }
  }

  // .large-selector {
  //   display: inherit;
  //   @media screen and (max-width: $medium) {
  //     display: none;
  //   }
  // }

  // .mobile-appointment-selector {
  //   display: none;
  //   @media screen and (max-width: $medium) {
  //     display: inherit;
  //   }
  // }
}
// .trainerprofile {
//   color: white;
//   text-align: center;
//   overflow: hidden;
//   .name {
//     font-size: 6rem;
//     letter-spacing: 0.5rem;
//     line-height: 6rem;
//     font-weight: bold;
//     width: 50rem;
//   }
//   .bio {
//     font-size: 1.4rem;
//   }
//   .email {
//     font-weight: bold;
//     font-size: 1.4rem;
//   }

//   .section1 {
//     margin-top: 5rem;
//     width: 80%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     margin-left: 50%;
//     transform: translateX(-50%);
//   }
//   .cover-pic {
//     width: 100vw;
//     height: 100vh;
//     background-position: top;
//     background-size: cover;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     padding-top: 2rem;
//     overflow: scroll;
//   }

//   .profile-pic {
//     min-width: 25rem;
//     min-height: 25rem;
//     max-width: 25rem;
//     max-height: 25rem;
//     border-radius: 20rem;
//     border: 12px solid rgb(240, 240, 240);
//     background-color: rgb(240, 240, 240);

//     display: block;
//   }
//   // Input {
//   //   margin-left: 50%;
//   //   transform: translateX(-50%);
//   //   display: block;
//   // }
// }

.appointmentselector {
  .grid-time.unavailable {
    background: black !important;
    cursor: default;
    &:hover {
      background: black !important;
    }
  }
  .grid-time {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #97c8df !important;
    }
  }
  .selected-true {
    background: #139c91 !important;
  }

  .ctrls {
    // background: white;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    text-align: center;
    .booking {
      height: 10rem;
      padding: 1rem;
      background: #ddd;
      border-radius: 0 2rem 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .booking-btn {
      padding: 0.4rem;
      width: 15rem;
      background: rgb(211, 0, 0);
      color: white;
      font-size: 2.6rem;
      font-weight: bold;
      transition: all 0.3s ease;
      border-radius: 1rem;
      border: none;
      &:hover {
        background-color: rgb(122, 0, 0);
      }
    }
    .minmet-false {
      background: rgb(126, 126, 126);
      opacity: 0.6;
    }
    .weekshift-btns {
    }
    // .err {
    //   color: red;
    // }
  }

  //////////////////////
  .relative-container {
    height: 50rem;
    overflow-y: hidden;
    position: relative;
  }

  .err {
    height: 2rem;
    color: rgb(255, 157, 157);
    text-align: center;
  }

  .drag-n-drop {
    display: grid;
    width: 840px;
    grid-template-columns: repeat(7, 110px);
    margin-left: 50%;
    top: 4rem;
    text-align: center;
    z-index: -1;
    background: black;
    border-radius: 8px;
    position: absolute;
    overflow-y: scroll;
    height: 40rem;
    z-index: 2;

    transform: translateX(-50%) scale(1);
    @media screen and (max-width: $medium) {
      top: -4rem;
      transform: translateX(-50%) scale(0.65);
    }
    @media screen and (max-width: $small) {
      top: -9.5rem;
      transform: translateX(-50%) scale(0.4);
    }
  }

  .time-grid {
    display: flex;
    width: 84rem;
  }
  .grid-time {
    width: 12rem;
    height: 50px;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.425);
    font-weight: bold;
    user-select: none;
    @media screen and (max-width: $medium) {
      font-size: 1.4rem;
      height: 80px;
    }
    @media screen and (max-width: $small) {
      height: 120px;
      font-size: 1.7rem;
    }
  }

  .grid-day {
    // display: flex;
  }

  // .weekshift-btns {
  //   margin-left: 50%;
  //   transform: translateX(-50%);
  //   width: 840px;
  //   display: flex;
  //   justify-content: space-around;
  //   button {
  //     padding: 0.5rem;
  //     width: 10rem;
  //   }
  // }

  .labels {
    margin-top: 1rem;
    display: flex;
    width: 840px;
    transform: translateX(-50%);
    margin-left: 50%;
    .day-label {
      width: 150px;
      text-align: center;
      color: rgb(196, 196, 196);
    }
    .today-true {
      color: rgb(255, 255, 255);
      font-weight: bold;
    }

    @media screen and (max-width: $medium) {
      transform: translateX(-50%) scale(0.65);
      font-size: 1.3rem;
      font-weight: bold;
    }
    @media screen and (max-width: $small) {
      transform: translateX(-50%) scale(0.4);
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}

// * {
//   background: black;
//   border: 2px solid red;
// }
