@import 'variables';

.trainerprofile {
  .email,
  .bio {
    color: $white;
    height: 2.5rem;
    overflow: scroll;
    font-size: 1.5rem;
  }

  .name {
    height: 7.6rem;
    margin-top: 1rem;
    font-size: 4.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    letter-spacing: 0.4rem;
  }

  .cover-pic {
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    overflow: scroll;
    padding-top: 2rem;
    position: absolute;
    background-size: cover;
    background-position: top;
  }

  .info {
    height: 48rem;
    padding: 2rem 0;
    margin-top: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.39);
  }

  .profile-pic {
    width: 25rem;
    height: 25rem;
    display: block;
    margin-left: 50%;
    background: $grey1;
    border-radius: 20rem;
    transform: translateX(-50%);
    border: 12px solid hsl(0, 0%, 94%);
  }

  .btns {
    width: 20rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .msg-btn,
  .book-btn,
  .weekshift-btn {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.596);

    &:hover {
      background-color: rgba(255, 255, 255, 0.849);
    }
  }

  .current {
    background-color: rgba(255, 255, 255, 0.849);

    &:hover {
      background-color: rgba(255, 255, 255, 0.596);
    }
  }

  .avg {
    color: $white;
    margin-bottom: 1rem;
  }

  .link {
    color: $grey1;
    padding: 0.4rem;
    font-size: 1.8rem;
    background: $grey11;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    background: rgba(230, 230, 230, 0.767);

    &:hover {
      background: $grey9;
    }
  }

  .review-slide {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }

  .review {
    width: 20rem;
    height: 20rem;
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
    background: $grey1;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    border: 2px solid $grey11;

    .review-profile-pic {
      width: 6rem;
      height: 6rem;
      background: $grey1;
      border-radius: 90rem;
      border: 3px solid $grey1;
    }

    .star-rating {
      width: 12rem;
      height: 2rem;
      position: relative;
      background: $black;

      .rating-background,
      .stars {
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
      }

      .stars {
        width: 100%;
      }
    }
  }
}

.session-selector {
  .grid-time.unavailable {
    cursor: default;
    background: $black !important;

    &:hover {
      background: $black !important;
    }
  }

  .grid-time {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgb(151, 200, 223) !important;
    }
  }

  .selected-true {
    background: rgb(19, 156, 145) !important;
  }

  .ctrls {
    height: 20rem;
    margin-left: 50%;
    text-align: center;
    transform: translateX(-50%);

    .booking {
      color: $grey1;
      display: flex;
      height: 10rem;
      padding: 1rem;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 0 2rem 0 2rem;
    }

    .booking-btn {
      border: none;
      width: 15rem;
      color: $white;
      padding: 0.4rem;
      font-size: 2.6rem;
      font-weight: bold;
      border-radius: 1rem;
      transition: all 0.3s ease;
      background: $red3;

      &:hover {
        background-color: $red8;
      }
    }

    .minmet-false {
      opacity: 0.6;
      background: $grey5;
    }

    .weekshift-btns {
    }
  }

  .relative-container {
    height: 50rem;
    position: relative;
    overflow-y: hidden;
  }

  .drag-n-drop {
    top: 4rem;
    z-index: 2;
    width: 840px;
    display: grid;
    height: 40rem;
    margin-left: 50%;
    border-radius: 8px;
    position: absolute;
    overflow-y: scroll;
    text-align: center;
    background: $black;
    transform: translateX(-50%) scale(1);
    grid-template-columns: repeat(7, 110px);

    @media screen and (max-width: $medium) {
      top: -4rem;
      transform: translateX(-50%) scale(0.65);
    }
    @media screen and (max-width: $small) {
      top: -9.5rem;
      transform: translateX(-50%) scale(0.4);
    }
  }

  .time-grid {
    width: 84rem;
    display: flex;
  }

  .grid-time {
    width: 12rem;
    height: 50px;
    display: flex;
    user-select: none;
    font-weight: bold;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border: 3px solid $black;
    color: rgba(255, 255, 255, 0.425);

    @media screen and (max-width: $medium) {
      height: 80px;
      font-size: 1.4rem;
    }

    @media screen and (max-width: $small) {
      height: 120px;
      font-size: 1.7rem;
    }
  }

  .labels {
    width: 840px;
    display: flex;
    margin-left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);

    .day-label {
      width: 150px;
      color: $grey3;
      text-align: center;
    }

    .today-true {
      color: $white;
      font-weight: bold;
    }

    @media screen and (max-width: $medium) {
      font-size: 1.3rem;
      font-weight: bold;
      transform: translateX(-50%) scale(0.65);
    }

    @media screen and (max-width: $small) {
      font-size: 1.3rem;
      font-weight: bold;
      transform: translateX(-50%) scale(0.4);
    }
  }
}
