@import 'variables';

.image-uploader {
  height: 3rem;
  display: flex;

  .loading-dots {
    width: 14rem;
    height: 14rem;
    background: rgba(0, 0, 0, 0);
  }

  .loading-dots-container {
    width: 20rem;
    display: flex;
    height: 3.4rem;
    margin-left: 50%;
    align-items: center;
    padding-top: 0.4rem;
    border-radius: 0.3rem;
    justify-content: center;
    transform: translateX(-50%) translateY(-0.1rem);
  }

  .file {
    opacity: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    position: absolute;
  }

  .animated-file {
    width: 20rem;
    display: flex;
    height: 3.4rem;
    align-items: center;
    border-radius: 0.3rem;
    justify-content: center;
  }

  .file-exists {
    background: $red3;
  }

  .file-label {
    display: flex;
    color: $white;
    height: 3.8rem;
    cursor: pointer;
    padding: 0 2rem;
    min-width: 30rem;
    margin-left: 50%;
    background: $red4;
    font-size: 1.8rem;
    text-align: center;
    align-items: center;
    border-radius: 0.3rem;
    justify-content: center;
    transition: all 0.2s ease;
    transform: translateX(-50%);

    &:hover {
      color: $white;
      background: $red6;
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.466);
    }
  }
}
