$small: 576px;
$medium: 768px;
$large: 992px;

.navbar,
.mobile-navbar1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 1);
}

.navbar {
  z-index: 2;
  text-align: left;
  height: 6rem;
  align-items: center;
  border-bottom: 1px solid white;

  .login-btn,
  .logout-btn {
    color: inherit;
    font: inherit;
    cursor: pointer;
  }

  .logo-title {
    font-size: 4rem;
    display: inline;
    margin: 0 1rem;
  }

  .home-link {
    height: 6rem;
    display: flex;
    align-items: center;
  }

  .home-link,
  .link {
    text-decoration: none;
    color: #f7f7f7;
    transition: all 0.3s ease;
    &:hover {
      color: #3a3a3a;
      background: #fafafa;
    }
  }
  .link {
    text-align: center;
    background: #00000000;
    border: none;
    letter-spacing: 0.1rem !important;
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }
  button {
    border: none;
    background: none;
    color: #f7f7f7;
    font-size: 1.2rem;
  }
}

.navbar {
  display: flex;
  @media screen and (max-width: $medium) {
    display: none;
  }
}

.white-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.1rem;
  border-bottom: 1px solid white;
  z-index: 2;
  display: none;
  @media screen and (max-width: $medium) {
    display: inherit;
  }
}

// .mobile-navbar {
//   display: none;
//   @media screen and (max-width: $medium) {
//     display: inherit;
//   }
//   position: relative;
//   top: 0;
//   left: 0;
// }

.mobile-navbar1 {
  display: none;
  height: 6rem;
  z-index: 2;
  // min-width: 100vw;
  min-width: 100%;
  // border-bottom: 1px solid white;

  @media screen and (max-width: $medium) {
    display: inherit;
  }
  .home-link {
    position: absolute;
    left: 1rem;
    top: 0.4rem;
  }

  .link,
  .home-link {
    text-decoration: none;
    color: #f7f7f7;
  }
  .open-btn {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    filter: invert(1);
    cursor: pointer;
  }
}

.mobile-sidebar {
  position: fixed;
  left: 0;
  top: 5.9rem;
  width: 28rem;
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  // height: 38rem;
  border-radius: 0 0 3rem 0;
  overflow: hidden;
  z-index: 1;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: none;

  @media screen and (max-width: $medium) {
    display: flex;
  }

  .link {
    // color: white;
    color: #f7f7f7;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1.5rem 0;
  }
  button {
    border: none;
    background: none;
  }

  .link,
  button {
    font-weight: bold;
    font-size: 1.5rem;

    transition: all 0.2s ease;
    &:hover {
      background: rgb(168, 168, 168);
      color: rgb(17, 17, 17);
    }
  }
}
