@import 'variables';

.navbar,
.mobile-navbar {
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 1);
}

.current-nav {
  color: $black !important;
  background: $white !important;
}

.navbar {
  z-index: 2;
  text-align: left;
  height: 6rem;
  align-items: center;
  border-bottom: 1px solid $white;

  .login-btn,
  .logout-btn {
    font: inherit;
    color: inherit;
    cursor: pointer;
  }

  .logo-title {
    margin: 0 1rem;
    display: inline;
    font-size: 4rem;
  }

  .home-link {
    height: 6rem;
    display: flex;
    align-items: center;
  }

  .home-link,
  .link {
    color: $grey1;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $grey9;
      background: $white;
    }
  }
  .link {
    border: none;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 2rem;
    background: #00000000;
    letter-spacing: 0.1rem !important;
  }

  button {
    border: none;
    color: $grey1;
    background: none;
    font-size: 1.2rem;
  }
}

.navbar {
  display: flex;

  @media screen and (max-width: $medium) {
    display: none;
  }
}

.white-border {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: none;
  height: 6.1rem;
  position: fixed;
  border-bottom: 1px solid $white;

  @media screen and (max-width: $medium) {
    display: inherit;
  }
}

.mobile-navbar {
  z-index: 2;
  height: 6rem;
  display: none;
  min-width: 100vw;

  @media screen and (max-width: $medium) {
    display: inherit;
  }

  .home-link {
    left: 1rem;
    top: 0.4rem;
    position: absolute;
  }

  .link,
  .home-link {
    color: $grey1;
    text-decoration: none;
  }

  .open-btn {
    right: 1rem;
    top: 1.2rem;
    cursor: pointer;
    filter: invert(1);
    position: absolute;
  }
}

.mobile-sidebar {
  left: 0;
  z-index: 2;
  top: 5.9rem;
  width: 28rem;
  display: none;
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  border-radius: 0 0 3rem 0;
  background: rgba(0, 0, 0, 1);
  border-right: 1px solid $white;
  border-bottom: 1px solid $white;

  @media screen and (max-width: $medium) {
    display: flex;
  }

  .link {
    color: $grey1;
    padding: 1.5rem 0;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2rem;
  }

  button {
    border: none;
    background: none;
  }

  .link,
  button {
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.2s ease;

    &:hover {
      color: $grey11;
      background: $grey4;
    }
  }
}
