$small: 576px;
$medium: 768px;
$large: 992px;

.navbar,
.mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  text-align: left;
  background: rgba(0, 0, 0, 1);
  height: 6rem;

  align-items: center;

  .login-btn,
  .logout-btn {
    color: inherit;
    font: inherit;
    cursor: pointer;
  }

  .logo-title {
    font-size: 4rem;
    display: inline;
    margin: 0 1rem;
  }

  .home-link {
    height: 6rem;
    display: flex;
    align-items: center;
  }

  .home-link,
  .link {
    text-decoration: none;
    color: #f7f7f7;
    transition: all 0.3s ease;
    &:hover {
      color: #3a3a3a;
      background: #fafafa;
    }
  }
  .link {
    text-align: center;
    background: #00000000;
    border: none;
    letter-spacing: 0.1rem !important;
  }
  button {
    border: none;
    background: none;
    color: #f7f7f7;
  }
}

.navbar {
  display: flex;
  @media screen and (max-width: $medium) {
    display: none;
  }

  .link {
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }
  button {
    font-size: 1.2rem;
  }
}

.mobile-navbar {
  display: none;
  @media screen and (max-width: $medium) {
    display: inherit;
  }
}
