.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  height: 6rem;
  display: flex;
  align-items: center;

  .logo-title {
    font-size: 4rem;
    color: white;
    display: inline;
    margin: 0 1rem;
  }
  .logout-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .link {
    text-align: center;
    background: #00000000;
    // backdrop-filter: blur(2px);
    color: #f7f7f7;
    // padding: 0.8rem 0.8rem;
    padding: 2rem 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem !important;
    // font-weight: normal;
    &:hover {
      color: #3a3a3a;
      background: #fafafa;
    }
  }
  button {
    border: none;
    background: none;
    color: #f7f7f7;
    font-size: 1.2rem;
  }
}
